{
  "openapi": "3.0.1",
  "info": {
    "title": "Uberall API",
    "description": "Enhance your application with Uberall's comprehensive API documentation",
    "contact": {
      "name": "Support",
      "url": "https://uberall.com",
      "email": "api@uberall.com"
    },
    "license": {
      "name": "Licensed under Uberall",
      "url": "https://uberall.com/en-us/uberall-terms-and-conditions"
    },
    "version": "20250204",
    "x-logo": {
      "url": "https://uberall.com/images/uberall-logo-white.svg"
    }
  },
  "servers": [
    {
      "url": "https://uberall.com/api"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Set up - Users",
      "x-group": "Set up"
    },
    {
      "name": "Auto Response",
      "description": "Products - Auto Response",
      "x-group": "Products"
    },
    {
      "name": "Batch Operation",
      "description": "Locations Hub - Locations - Batch Operations (excel)",
      "x-group": "Locations Hub"
    },
    {
      "name": "Brand Data Points",
      "description": "Products - Brand Data Points",
      "x-group": "Products"
    },
    {
      "name": "Business Connections",
      "description": "Set up - Business Connections",
      "x-group": "Set up"
    },
    {
      "name": "Businesses",
      "description": "Set up - Businesses",
      "x-group": "Set up"
    },
    {
      "name": "Categories",
      "description": "Locations Hub - Categories",
      "x-group": "Locations Hub"
    },
    {
      "name": "Collection Management",
      "description": "Locations Hub - Collections - Collection Management",
      "x-group": "Locations Hub"
    },
    {
      "name": "Content List",
      "description": "Locations Hub - Collections - Content List",
      "x-group": "Locations Hub"
    },
    {
      "name": "Locations Data",
      "description": "Locations Hub - Locations Data",
      "x-group": "Locations Hub"
    },
    {
      "name": "Custom Items",
      "description": "Locations Hub - Collections - Custom Items",
      "x-group": "Locations Hub"
    },
    {
      "name": "Dashboard",
      "description": "Products - Analytics - Dashboard",
      "x-group": "Products"
    },
    {
      "name": "Dashboard Exports",
      "description": "Products - Analytics - Dashboard Exports",
      "x-group": "Products"
    },
    {
      "name": "Data Points",
      "description": "Products - Data Points",
      "x-group": "Products"
    },
    {
      "name": "Data Point Filters",
      "description": "Products - Data Points - Data Point Filters",
      "x-group": "Products"
    },
    {
      "name": "Configuration",
      "description": "Set up - Configuration",
      "x-group": "Set up"
    },
    {
      "name": "Sales Partners",
      "description": "Set up - Tenancy - Sales Partners",
      "x-group": "Set up"
    },
    {
      "name": "Events",
      "description": "Locations Hub - Collections - Events",
      "x-group": "Locations Hub"
    },
    {
      "name": "Listings",
      "description": "Locations Hub - Locations - Listings",
      "x-group": "Locations Hub"
    },
    {
      "name": "Labels",
      "description": "Locations Hub - Labels",
      "x-group": "Locations Hub"
    },
    {
      "name": "Location Groups",
      "description": "Locations Hub - Location Groups",
      "x-group": "Locations Hub"
    },
    {
      "name": "Menu Items",
      "description": "Locations Hub - Locations - Menu Items",
      "x-group": "Locations Hub"
    },
    {
      "name": "Persons",
      "description": "Locations Hub - Locations - Persons",
      "x-group": "Locations Hub"
    },
    {
      "name": "Locations Photos",
      "description": "Locations Hub - Locations Photos",
      "x-group": "Locations Hub"
    },
    {
      "name": "Products",
      "description": "Locations Hub - Locations - Product",
      "x-group": "Locations Hub"
    },
    {
      "name": "Product Plans",
      "description": "Set up - Tenancy - Product Plans",
      "x-group": "Set up"
    },
    {
      "name": "Templates",
      "description": "Products - Response Library - Templates",
      "x-group": "Products"
    },
    {
      "name": "Service Items",
      "description": "Locations Hub - Locations - Service Items",
      "x-group": "Locations Hub"
    },
    {
      "name": "Social Posting",
      "description": "Products - Social Posting",
      "x-group": "Products"
    },
    {
      "name": "Social Posting Templates",
      "description": "Products - Social Posting - Social Posting Templates",
      "x-group": "Products"
    },
    {
      "name": "Digital Asset Management",
      "description": "Products - Digital Asset Management",
      "x-group": "Products"
    },
    {
      "name": "Status Check",
      "description": "Products - Status Check",
      "x-group": "Products"
    },
    {
      "name": "Store Finder",
      "description": "Products - Store Finder",
      "x-group": "Products"
    },
    {
      "name": "Suggestions",
      "description": "Locations Hub - Locations - Suggestions",
      "x-group": "Locations Hub"
    },
    {
      "name": "Webhooks",
      "description": "Set up - Tenancy - Sales Partners - Webhooks",
      "x-group": "Set up"
    }
  ],
  "paths": {
    "/users/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Provide an access_token for the user",
        "description": "Provides an access_token for the email or the userId provided in the LoginCommand.</br>\nThe accepted couples are:\n</br>[email, password]</br>\n[email, private_key]</br>\n[userId, private_key]",
        "operationId": "post_users_login",
        "requestBody": {
          "description": "A LoginCommand object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User successfully authenticated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "401": {
            "description": "Not Authorized"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          }
        }
      }
    },
    "/auto-response/rules/check-conflict": {
      "post": {
        "tags": [
          "Auto Response"
        ],
        "summary": "Check for Auto Response Rule conflicts",
        "description": "Check if there are any other Auto Response Rules that have status ACTIVE, apply to at least one of the businesses or locations in this request, and share at least one of the triggers in this request. When editing an existing Auto Response Rule, its id should be passed in ignoreRule so that it is not returned as a false positive.",
        "operationId": "post_auto_response_rules_check_conflict",
        "requestBody": {
          "description": "A CheckConflictRequest object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckConflictRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Checking for conflicts completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictingRulesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter."
          },
          "403": {
            "description": "Request Forbidden."
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/auto-response/rules": {
      "get": {
        "tags": [
          "Auto Response"
        ],
        "summary": "List Auto Response Rules with filters",
        "description": "List Auto Response Rules with filters",
        "operationId": "get_auto_response_rules",
        "parameters": [
          {
            "name": "businesses",
            "in": "query",
            "description": "Only return Auto Response Rules identified by the business ids listed in businesses",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Only return Auto Response Rules identified by the location ids listed in locations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "excludedLocations",
            "in": "query",
            "description": "List of location ids that should be excluded from the result",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Used for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Used for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field to sort the results in, use created_by, date_created or id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction to sort the results in, use asc for ascending sort or desc for descending sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto Response Rules retrieved.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RulesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter."
          },
          "403": {
            "description": "Request Forbidden."
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Auto Response"
        ],
        "summary": "Create an Auto Response Rule",
        "description": "Create an Auto Response Rule",
        "operationId": "post_auto_response_rules",
        "requestBody": {
          "description": "Auto Response Rule to be created",
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "businesses": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "locations": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "excludedLocations": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE",
                      "DELETED"
                    ]
                  },
                  "triggers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "responses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponseValue"
                    }
                  },
                  "ruleResponses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponseValue"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auto Response Rule created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Request Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/auto-response/rules/{id}": {
      "get": {
        "tags": [
          "Auto Response"
        ],
        "summary": "Get an Auto Response Rule",
        "description": "Get an Auto Response Rule",
        "operationId": "get_auto_response_rules_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of Auto Response Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto Response Rule retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Request Forbidden"
          },
          "404": {
            "description": "Resource Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Auto Response"
        ],
        "summary": "Delete an Auto Response Rule",
        "description": "Delete an Auto Response Rule. Only rules that can be edited by the current user can be deleted",
        "operationId": "delete_auto_response_rules_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of Auto Response Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto Response Rule deleted.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter."
          },
          "403": {
            "description": "Request Forbidden."
          },
          "404": {
            "description": "Resource Not Found."
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Auto Response"
        ],
        "summary": "Edit an Auto Response Rule",
        "description": "Edit an Auto Response Rule. The current user can edit this rule when they have access to all businesses and locations that identify this rule.",
        "operationId": "patch_auto_response_rules_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of Auto Response Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Auto Response Rule to be edited",
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "businesses": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "locations": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "excludedLocations": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "INACTIVE",
                      "DELETED"
                    ]
                  },
                  "triggers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "responses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponseValue"
                    }
                  },
                  "ruleResponses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ResponseValue"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Auto Response Rule updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter."
          },
          "403": {
            "description": "Request Forbidden."
          },
          "404": {
            "description": "Resource Not Found."
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/batch": {
      "get": {
        "tags": [
          "Batch Operation"
        ],
        "summary": "Get all Location Imports",
        "description": "Returns a list of all existing location imports for the current user",
        "operationId": "get_batch",
        "parameters": [
          {
            "name": "max",
            "in": "query",
            "description": "Used for pagination. Maximum number of results per page",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order results by the specified field. Default is location id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Use asc for ascending sort or desc for descending sort",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved location imports",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LocationImportListWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/batch/{id}/error-report": {
      "get": {
        "tags": [
          "Batch Operation"
        ],
        "summary": "Get Excel document with Location errors",
        "description": "After a file import, a results report is created with all location failures. This endpoints allows downloading only the locations with errors.",
        "operationId": "get_batch_id_error_report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique ID of the location import",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved error report file",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing Parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/brand-data-points/{id}/like": {
      "post": {
        "tags": [
          "Brand Data Points"
        ],
        "summary": "Like a Brand Data Point",
        "description": "Like a brand data point",
        "operationId": "post_brand_data_points_id_like",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Brand Data Point",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully liked Brand Data Point",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandDataPointResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Brand Data Point not found"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Brand Data Points"
        ],
        "summary": "Unlike a Brand Data Point",
        "description": "Unlike a brand data point",
        "operationId": "delete_brand_data_points_id_like",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Brand Data Point",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unliked Brand Data Point",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandDataPointResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Brand Data Point not found"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        }
      }
    },
    "/business-connections/{directoryType}/connect/{businessId}": {
      "post": {
        "tags": [
          "Business Connections"
        ],
        "summary": "Connect a business",
        "description": "Creates a business connection between the business and the external entity on directory (e.g. brand page for FB)",
        "operationId": "post_business_connections_directoryType_connect_businessId",
        "parameters": [
          {
            "name": "directoryType",
            "in": "path",
            "description": "Type of the directory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessId",
            "in": "path",
            "description": "Id of the Business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Business connection parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessConnectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business successfully connected",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/business-connections/{directoryType}/sales-partner/{salesPartnerId}/count": {
      "get": {
        "tags": [
          "Business Connections"
        ],
        "summary": "Count of connections",
        "description": "Get number of all business connections created under given salesPartner",
        "operationId": "get_business_connections_directoryType_sales_partner_salesPartnerId_count",
        "parameters": [
          {
            "name": "directoryType",
            "in": "path",
            "description": "Type of the directory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesPartnerId",
            "in": "path",
            "description": "Id of the SalesPartner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters results by performing search with given value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business connections count successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/business-connections/{directoryType}/disconnect/{businessId}": {
      "put": {
        "tags": [
          "Business Connections"
        ],
        "summary": "Disconnect a business",
        "description": "Deletes or disconnects the current business connection",
        "operationId": "put_business_connections_directoryType_disconnect_businessId",
        "parameters": [
          {
            "name": "directoryType",
            "in": "path",
            "description": "Type of the directory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessId",
            "in": "path",
            "description": "Id of the Business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Business connection parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessConnectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business successfully disconnected",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/business-connections/{directoryType}/sales-partner/{salesPartnerId}/pages": {
      "get": {
        "tags": [
          "Business Connections"
        ],
        "summary": "List of external entities",
        "description": "Get list of all the external entities on directories that correspond to all connected accounts on given salesPartner (e.g. brand pages list for FB of all the accounts that have been authenticated under sp)",
        "operationId": "get_business_connections_directoryType_sales_partner_salesPartnerId_pages",
        "parameters": [
          {
            "name": "directoryType",
            "in": "path",
            "description": "Type of the directory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesPartnerId",
            "in": "path",
            "description": "Id of the SalesPartner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External entities successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEntitiesWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/business-connections/{directoryType}/sales-partner/{salesPartnerId}/list": {
      "get": {
        "tags": [
          "Business Connections"
        ],
        "summary": "List of business connections",
        "description": "Get detailed list of business connections created under given salesPartner",
        "operationId": "get_business_connections_directoryType_sales_partner_salesPartnerId_list",
        "parameters": [
          {
            "name": "directoryType",
            "in": "path",
            "description": "Type of the directory",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesPartnerId",
            "in": "path",
            "description": "Id of the SalesPartner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters results by performing search with given value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business connections successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get a List of Businesses",
        "description": "Get a list of businesses managed by the current user.",
        "operationId": "get_businesses",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Value used to filter the results by the fields provided in the \"queryFields\" query parameter.\n                        By default, the value will be searched for in the following fields: \"name\", \"streetAndNo\", \"zip\", \"city\", \"country\", \"identifier\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryFields",
            "in": "query",
            "description": "The fields that will be searched to contain the value provided in the \"query\" query parameter.\n                        The default query fields are \"name\", \"streetAndNo\", \"zip\", \"city\", \"country\", \"identifier",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Only return one business based on your internal identification system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessIds",
            "in": "query",
            "description": "Only return businesses identified by ids listed in businessIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by business status. One of ACTIVE, INACTIVE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minLocations",
            "in": "query",
            "description": "Only return businesses with at least minLocations locations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxLocations",
            "in": "query",
            "description": "Only returns businesses with at most maxLocations locations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productPlan",
            "in": "query",
            "description": "Query accounts by product plan name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productPlanId",
            "in": "query",
            "description": "Query accounts by product plan Id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The business property to sort by (ascending). One of name, streetAndNo, city, zip, phone",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Used for pagination. Maximum number of results per page. Default: 10",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldMask",
            "in": "query",
            "description": "Possible fieldMask options ('id', 'identifier', 'name', 'type', 'streetAndNo', 'addressLine2',\n                            'province', 'zip', 'city','phone', 'country', 'status', 'canSync', 'dateCreated', 'defaultPrice','defaultOriginalPrice', 'defaultPriceSetup',\n                            'productPlan', 'nextProductPlan', 'numOfLocations') ",
            "schema": {
              "type": "string"
            },
            "example": "fieldMask=type&fieldMask=city"
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSearchParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved Businesses",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPageResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Create a Business",
        "description": "Create a Business belonging to the SalesPartner of the current User. User needs UserRole ADMIN or ACCOUNT_MANAGER.",
        "operationId": "post_businesses",
        "requestBody": {
          "description": "A Business object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Business"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Business successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses/{id}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get a Business",
        "description": "Get information about the business with the given id. Current user needs UserRole ADMIN, ACCOUNT_MANAGER or BUSINESS_MANAGER.",
        "operationId": "get_businesses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Business",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Delete a Business",
        "description": "Delete the business with the given id. Current user needs UserRole ADMIN, ACCOUNT_MANAGER or BUSINESS_MANAGER. Locations within the businesses need to be deleted separately.",
        "operationId": "delete_businesses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Business",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Businesses"
        ],
        "summary": "Update a Business",
        "description": "Edit information of the business with the given id. Current user needs UserRole ADMIN, ACCOUNT_MANAGER or BUSINESS_MANAGER.",
        "operationId": "patch_businesses_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A Business object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Business"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully edited Business",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses/{id}/migrate": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Migrate the Business to a new SalesPartner",
        "description": "Migration is only possible from parent sales partner to child sales partner or between children sales partners.",
        "operationId": "post_businesses_id_migrate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the business",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetSalesPartnerId",
            "in": "query",
            "description": "ID of the sales partner where the business should be migrated",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetWhiteLabelIdentifier",
            "in": "query",
            "description": "If the target sales partner has more then one whitelabel, please specify which one has to be chosen",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully migrated Business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses/product-plans": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get the product plans for businesses",
        "description": "Get the product plans assigned to a business",
        "operationId": "get_businesses_product_plans",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Restricts the response to the Product Plans that contain this name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Postcodes successfully retrieved"
          },
          "403": {
            "description": "Request Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses/statistics": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get Businesses'' Statistics",
        "description": "Get statistics about the businesses the current user is managing: total and breakdown by status",
        "operationId": "get_businesses_statistics",
        "responses": {
          "200": {
            "description": "Successfully retrieved Business Statistics",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessStatisticsWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/businesses/{businessId}/locations/sync": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Sync All Business'' Locations",
        "description": "Start a sync on all directories for all locations in the business with the given id. Current user needs UserRole ADMIN, ACCOUNT_MANAGER or BUSINESS_MANAGER.",
        "operationId": "post_businesses_businessId_locations_sync",
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "description": "The uberall unique id of the business",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync successfully started",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameters"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories/{id}/attribute-recommendations": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get the recommended attributes for a Category",
        "description": "Get all Recommended attributes for the Category, Country excluding (already applied attributes on location/payment related attributes)\nNotes:\n- Sent to Google and Apple maps\n- Only the non payment related attributes available and not applied to the location for the primary category of the location can be selected and setup",
        "operationId": "get_categories_id_attribute_recommendations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Category id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Keywords to look for which are associated with attributes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "Location id to exclude already applied attributes on the provided location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country to retrieve the attribute recommendations for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved recommended attributes",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeRecommendationsWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories/{id}/attributes": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get Attributes for a specific Category",
        "description": "Get all Attributes for the Category, Country and Language\n<br>\n<p>Notes: \n<br>- Sent to Google and Apple maps\n<br>- Only the attributes available for the primary category of the location can be selected and setup</p>",
        "operationId": "get_categories_id_attributes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Category id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language to show the attributes in, this affects only the name of the results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country to retrieve the attributes for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved attributes",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories/{id}/available-photo-types": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get available Photo types for a specific Category",
        "description": "Google limits photo types for each business category. GET a list of available photo types for a category.",
        "operationId": "get_categories_id_available_photo_types",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Photo types for the location id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved photo types",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePhotoTypesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": true,
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get All or Several Categories",
        "description": "Get a list of all available location categories, or specific location categories based on the following parameters",
        "operationId": "get_categories",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "description": "The uberall unique id of the category you want to get",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filter categories by a search query",
            "schema": {
              "type": "string"
            },
            "example": "Auto"
          },
          {
            "name": "roots",
            "in": "query",
            "description": "Set to 'true' to show root categories as well (i.e., show all categories)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Show categories in the specified language. One of de, en, es, fr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Used for pagination. Maximum number of results per page. Default: 10",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset used for pagination. Default: 0",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS",
                        "QUOTA_LIMIT_EXCEED",
                        "NOT_AUTHORIZED",
                        "FORBIDDEN",
                        "BAD_ACCESS_TOKEN",
                        "BAD_PRIVATE_KEY",
                        "BAD_PUBLIC_KEY",
                        "MISSING_PARAMETER",
                        "INVALID_PARAMETER",
                        "WRONG_PARAMETER_TYPE",
                        "CONFLICT",
                        "RESOURCE_LOCKED",
                        "SERVER_ERROR",
                        "ERROR",
                        "NOT_FOUND",
                        "BAD_REQUEST",
                        "USER_ERROR",
                        "PARTIAL_ERROR",
                        "METHOD_NOT_ALLOWED"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "(optional) Holds further information about the response"
                    },
                    "errorCode": {
                      "type": "string",
                      "enum": [
                        "NORMALIZATION_FAILED",
                        "DATA_CORRUPTED",
                        "INVALID_INPUT",
                        "NOT_SYNCABLE",
                        "PAYMENT_FAILED",
                        "FREE_TIER_REACHED",
                        "LIMIT_REACHED",
                        "INACTIVE",
                        "UNKNOWN",
                        "IDENTIFIER_NOT_UNIQUE",
                        "ACCOUNT_WAITING_FOR_AUTO_PAGE_SELECT",
                        "NO_ACCOUNT_CONNECTED",
                        "NO_PAGE_SELECTED",
                        "PAGE_NOT_CREATED",
                        "PAGE_IN_REVIEW",
                        "PAGE_CLAIMED_BY_OTHERS",
                        "OVERLAPPING_SOCIALPOST",
                        "TOO_MANY_REPLIES",
                        "REPLY_TOO_LONG",
                        "DEPRECATED"
                      ]
                    },
                    "warnings": {
                      "type": "array",
                      "description": "(optional) Holds further warnings",
                      "items": {
                        "type": "string",
                        "description": "(optional) Holds further warnings"
                      }
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "results": {
                          "oneOf": [
                            {
                              "type": "array",
                              "description": "A list of categories",
                              "items": {
                                "$ref": "#/components/schemas/Category"
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "resultTotalCount": {
                                  "type": "integer"
                                },
                                "results": {
                                  "type": "array",
                                  "description": "A list of categories",
                                  "items": {
                                    "$ref": "#/components/schemas/Category"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories/{id}/google-services": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get available Google Structured Services for a specific Category",
        "description": "GET the list of Google''s structured services for a location''s business category. Google does not have structured services for all business categories.",
        "operationId": "get_categories_id_google_services",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Category ID for retrieving services",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language the structured services should be returned in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Available structured services vary by country, so a country is needed to provide the available structured services from Google.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Google Services",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleServicesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/categories/{id}/more-hours-types": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get the supported More Hours types for a specific Category\n",
        "description": "Get all supported More Hours types for a specific Category. Optionally specify language, otherwise default sales partner language is returned",
        "operationId": "get_categories_id_more_hours_types",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Category id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language to show the values in",
            "schema": {
              "type": "string"
            },
            "example": "en or de"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved more hours types",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MoreHoursWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Collection Management"
        ],
        "summary": "Get all collections",
        "description": "Get all the collections managed by the current API user.",
        "operationId": "get_collections",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ContentCollectionSearchParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collections found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentListsWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Collection Management"
        ],
        "summary": "Create a collection",
        "description": "Create a new collection managed by the current API user. If the user specifies a set of locations for the collections, users managing the whole set of locations can also manage the collection.",
        "operationId": "post_collections",
        "requestBody": {
          "description": "ContentCollection object to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCollection"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/collections/{id}": {
      "get": {
        "tags": [
          "Collection Management"
        ],
        "summary": "Get a Collection",
        "description": "Retrieve a specific Collection by id",
        "operationId": "get_collections_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the Collection to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCollection"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Collection Management"
        ],
        "summary": "Delete a Collection",
        "description": "Delete a specific Collection by id",
        "operationId": "delete_collections_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the Collection to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ContentCollection object to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Collection Management"
        ],
        "summary": "Update a Collection",
        "description": "Update a specific Collection by id",
        "operationId": "patch_collections_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the Collection to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ContentCollection object to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCollection"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/content-lists": {
      "get": {
        "tags": [
          "Content List"
        ],
        "summary": "Get All Content Lists",
        "description": "Get all content lists managed by the current API user",
        "operationId": "get_content_lists",
        "responses": {
          "200": {
            "description": "Content lists successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentListsWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Content List"
        ],
        "summary": "Create a Content List",
        "description": "Create a content list",
        "operationId": "post_content_lists",
        "requestBody": {
          "description": "A ContentList object",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentList"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Content List successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentListResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/content-lists/{id}": {
      "get": {
        "tags": [
          "Content List"
        ],
        "summary": "Get a Content List",
        "description": "Get a content list identified by its uberall unique id",
        "operationId": "get_content_lists_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the content list",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content list successfully retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentListResponseWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Content List"
        ],
        "summary": "Delete a Content List",
        "description": "Delete a content list",
        "operationId": "delete_content_lists_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the content list",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content List successfully deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Content List"
        ],
        "summary": "Update a Content List",
        "description": "Update a content list",
        "operationId": "patch_content_lists_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id of the content list",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A ContentList object",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ContentListResponseWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Content List successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/custom-items": {
      "get": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Get all Custom Items",
        "description": "Get all custom items the current API user can manage.\n<br>To specify products with identifier please provide ?identifier= in the url param\n<br>By default, 50 are returned, you can use up to max=10000 param",
        "operationId": "get_custom_items",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/ContentItemSearchParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved custom items",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomItemSearchResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Create a Custom Item",
        "description": "Create a custom item. It can be added to a content list later",
        "operationId": "post_custom_items",
        "requestBody": {
          "description": "CustomItem object to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created custom item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomItemResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Delete a Custom Item using identifier",
        "description": "Delete a custom item identified by identifier in the url param",
        "operationId": "delete_custom_items",
        "responses": {
          "204": {
            "description": "Successfully deleted custom item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Custom Item Not Found"
          },
          "409": {
            "description": "Conflict with existing item"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/custom-items/{id}": {
      "get": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Get a Custom Item",
        "description": "Get a single custom item",
        "operationId": "get_custom_items_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the custom item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved custom item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomItemResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Delete a Custom Item",
        "description": "Delete a custom item",
        "operationId": "delete_custom_items_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the custom item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted custom item",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Custom Items"
        ],
        "summary": "Update a Custom Item",
        "description": "Make changes to a custom item. Any blank parameter deletes an old value, any unspecified parameter does nothing",
        "operationId": "patch_custom_items_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uberall unique id for the custom item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "CustomItem object to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated custom item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomItemResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing Parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict with existing item"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/dashboard/customer-feedback": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Customer Feedback",
        "description": "Get the Customer Feedback of the user managed locations filtered by the given ids",
        "operationId": "get_dashboard_customer_feedback",
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "The ids of the businesses you want customer feedback for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "The ids of the locations you want customer feedback data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "textFilter",
            "in": "query",
            "description": "Filter locations to get customer feedback for by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The directory you want customer feedback data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer feedback",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFeedbackWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/dashboard/customer-feedback-by-period": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Customer Feedback by Period",
        "description": "Get the Customer Feedback of the user managed locations filtered by the given ids grouped by period",
        "operationId": "get_dashboard_customer_feedback_by_period",
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "The ids of the businesses you want customer feedback by period for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "The ids of the locations you want customer feedback by period data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "textFilter",
            "in": "query",
            "description": "Filter locations to get customer feedback by period for by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The directory you want customer feedback by period data for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "How to group the results, one of: DAY, WEEK, MONTH, YEAR",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer feedback by period",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFeedbackByPeriodWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/dashboard/customer-feedback-keywords": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Customer Feedback Keywords.",
        "description": "Returns the 100 most mentioned Keywords and the average Rating of the Reviews where they appeared.",
        "operationId": "get_dashboard_customer_feedback_keywords",
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "The ids of the businesses you want customer feedback keywords for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "The ids of the locations you want customer feedback keywords data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "textFilter",
            "in": "query",
            "description": "Filter locations to get customer feedback keywords for by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer feedback keywords",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFeedbackKeywordsWrapper"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/dashboard/export-insights-data": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Insights Export Data",
        "description": "Get the exported insights data",
        "operationId": "get_dashboard_export_insights_data",
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "The ids of the businesses you want insights data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "The ids of the locations you want insights data for",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "textFilter",
            "in": "query",
            "description": "Filter locations to get insights data for by name, zip, street, city, label",
            "schema": {
              "type": "string"
            },
            "example": "Berlin"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully exported insights data",
            "content": {
              "application/xlsx": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid or Missing parameter"
          }
        },
        "security": [
          {
            "accessToken": []
          },
          {
            "privateKey": []
          }
        ]
      }
    },
    "/dashboard/export-insights-data-with-threshold": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Insights Export Data with threshold",
        "description": "Gets all insights data for the locations. When the request takes too much time, the user will receive the link to the file in an email.",
        "operationId": "get_dashboard_export_insights_data_with_threshold",
        "parameters": [
          {
            "name": "businessIds",
            "in": "query",
            "description": "Filter export data by these businessIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "locationIds",
            "in": "query",
            "description": "Filter export data by these locationIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
[...]
